.botones {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color__letra;
    border: 3px solid rgb(13, 19, 32);
    border-radius: 8px;
    padding: 3px;
    font-size: 20px;
    text-decoration: none;
    
    
}


.botones:hover {
    color: black
}

.botones_mas {
    @extend.botones;
    color: $color__boton;
    border: 0px;
    text-decoration: none;
    
    
}
